Datos y código - Práctica 1/__pycache__
Datos y código - Práctica 1/.ipynb_checkpoints
Datos y código - Práctica 1/__pycache__/espectroscopia_optica_funcs.cpython-39.pyc
Datos y código - Práctica 1/__pycache__/espectroscopia_optica_funcs.cpython-39.pyc
Datos y código - Práctica 2/__pycache__/instrumental.cpython-39.pyc
