Datos y código - Práctica 1/__pycache__
Datos y código - Práctica 1/.ipynb_checkpoints
Datos y código - Práctica 1/__pycache__
Datos y código - Práctica 2/__pycache__
*.pyc
*.json
Datos y código - Práctica 2/.ipynb_checkpoints